<ul class="list-group">
  <li class="list-group-item">
    <strong>Tipo: </strong>
    <span class="pull-right">
        <span ng-repeat="type in pkmCtrl.pokemon.type" class="label type-{{type | lowercase }}">
            {{type}}
        </span>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Altura:</strong>
    <span class="pull-right">{{pkmCtrl.pokemon.height}}</span>
  </li>
  <li class="list-group-item">
    <strong>Peso: </strong>
    <span class="pull-right">{{pkmCtrl.pokemon.weight}}</span>
  </li>
  <li class="list-group-item">
      <strong>Habilidades: </strong>
      <ul>
          <li ng-repeat="habilidad in pkmCtrl.pokemon.abilities">
          {{habilidad}}
      </ul>
  </li>
</ul>
